[submodule "src/zarrs_tools"]
	path = src/zarrs_tools
	url = git@github.com:zarrs/zarrs_tools.git
[submodule "src/zarr_benchmarks"]
	path = src/zarr_benchmarks
	url = git@github.com:zarrs/zarr_benchmarks.git
